@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
@media screen and (min-width: 768px){
  nav {
    flex-direction: row;
    justify-content: space-around;
  }

  nav ul {
    flex-direction: row;
    width: 70%;
  }
  header{
    height: 600px;
    height: 60vh;
    justify-content: center;
  }
}
li {
  float: left;
  color: white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
  background-color: #e5e8e8;
  color: #4e545c;
  margin: 0;
  font-family: "Quicksand";
}

body.dark-mode {
  background-color: #000401;
  color: #e5e8e8;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  background-color: #4e545c;
  padding: 16px;
  color: #e5e8e8;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-weight: 400;
}

footer.dark-mode {
  background-color: #8d9797;
  color: #000401;
}

button {
  border-radius: 40px;
  font-size: 1.5rem;
  height: 60px;
  width: 200px;
  border: none;
  background-color: #4e545c;
  color: #e5e8e8;
  transition: all 0.5s linear;
}

button:hover {
  background-color: #000401;
}

button.dark-mode {
  background-color: #e5e8e8;
  color: #4e545c;
}

button.dark-mode:hover {
  background-color: #4e545c;
  color: #e5e8e8;
}

.w3-bar .w3-bar-item .w3-container .w3-xlarge .w3-padding{
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}
